<div class="relative flex h-full items-center gap-2">
  @for (route of trip().routes; track route.id) {
    <app-route
      [route]="route"
      [renderedOnce]="renderedOnce()"
      [isOnly]="trip().routes.length === 1"
    />
  } @empty {
    <button
      class="bg-ui dark:bg-ui-dark flex h-full items-center overflow-hidden rounded-lg border border-dashed border-neutral-200 p-1 px-2 text-sm text-nowrap dark:border-neutral-700 text-neutral-800 dark:text-neutral-200"
      (click)="createRoute()"
      (animate.enter)="onEmptyEnter($event)"
    >
      + Create route
    </button>
  }
  @if (trip().routes.length > 0) {
    <button
      type="button"
      id="create-route-button"
      class="bg-ui dark:bg-ui-dark h-8 w-4 rounded text-sm text-neutral-800 opacity-0 transition-opacity duration-200 dark:text-neutral-200"
      (click)="createRoute()"
    >
      +
    </button>
  }
</div>
