:host {
  display: block;
  position: absolute;
  inset: 0;
}

#map1-container,
#map2-container,
#fade-container {
  position: absolute;
  inset: 0;
}

.stat-key {
  font-weight: 300;
  color: oklch(70% 0 0);
  text-align: right;
}

.unit {
  color: oklch(70% 0 0);
}

.stat-value {
}
