<button
  class="route flex h-full flex-col overflow-hidden rounded-lg pb-0.75 {{
    isRouteSelected(route())
      ? 'bg-neutral-200 dark:bg-neutral-600'
      : 'bg-neutral-50 hover:bg-neutral-100 dark:bg-neutral-800 dark:hover:bg-neutral-700'
  }}"
  (click)="onRouteLeftClick(route())"
  appContextMenu
  [actions]="menuActions"
>
  <div
    class="flex h-5 items-center justify-center text-xs text-nowrap text-neutral-400 dark:text-neutral-300"
  >
    {{ route().name }}
  </div>
  <div class="relative mx-0.75 flex grow gap-1">
    @for (stage of route().stages; track stage.id) {
      <app-stage
        [route]="route()"
        [stage]="stage"
        [renderedOnce]="renderedOnce()"
        [isOnly]="route().stages.length === 1"
      />
    } @empty {
      <button
        class="h-7.5 overflow-hidden rounded-md border-2 border-dashed border-neutral-200 px-2 text-sm text-nowrap text-neutral-400 dark:border-neutral-500 dark:text-neutral-300"
        (click)="createStage(route())"
        (animate.enter)="onEmptyEnter($event)"
      >
        + Create stage
      </button>
    }
    @if (route().stages.length > 0) {
      <button
        type="button"
        class="create-stage-button -ml-1 w-0 overflow-hidden rounded border-dashed border-neutral-200 px-0 text-sm text-nowrap transition-all dark:border-neutral-500"
        (click)="createStage(route())"
      >
        +
      </button>
    }
  </div>
</button>
